@import "../../style/variable";

.container {
  height: calc(100vh - var(--header-height));
  position: relative;
  width: 250px;

  & > * {
    margin: 5px 15px;
  }
}

.active {
  border-bottom: 1px solid #333;
}

.menu {
  & > svg {
    font-size: 1.3rem;
  }

  & > a {
    color: #333;
    padding-left: 10px;
    text-decoration: none;
  }
}

.ul {
  padding: 5px 0 0 30px;
  list-style: none;

  & li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    & > a {
      color: #333;
      text-decoration: none;
    }
  }
}

.botCreate {
  bottom: 0;
  color: #333;
  left: 0;
  position: absolute; /* TODO: use flex */
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
